.container {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 32px auto;
  border-radius: 8px;
  border: 1px solid #e0e1e0;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
